:root {
  --primary-color: lightgray;
  --secondary-color: rgb(30, 36, 43);
  --tertiary-color: rgb(58, 63, 68);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: azure;
}
body,
html {
  height: 100%;
  background-color: rgb(29, 28, 28);
}

/*header syling*/

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../public/images/code.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
  
  
}

header h1 a {
  color:azure; 
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 10px;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
header li {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
}

header nav ul {
  padding: 10px 20px;
}

header h1 a:hover {
  color: var(--primary-color);
  border-radius: 5px;
  text-shadow: none;
}

header ul li a:hover {
  color: var(--primary-color);
  border-radius: 5px;
  text-shadow: none;
}

h2 {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 40px;
}
.header {
  text-align: justify;
}
/*header syling end*/

.btn {
  margin-top: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  padding: 5px;
  color: rgb(29, 28, 28);
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-right: 6px black;
  justify-content: space-evenly;
}

.field {
  padding-top: 10px;
}

.section-title {
  flex: 1;
  padding: 10px;
  color: var(--tertiary-color);
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  color: azure;
}

.victor {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  padding: 10px;
  margin: 10px;
}

/* about me section styling*/

.about-me {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.profile {
  flex: 1;
  display: flex;
  height: 300px;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-pic {
  height: 300px;
  border: 4px solid var(--tertiary-color);
}
.text {
  display: flex;
  flex: 3;
  text-align: justify;
  padding: 20px;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
/* about me section styling end*/

/* work examples styling*/

.projects {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  justify-content: space-around;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
}

.title {
  font-size: large;
}

a:link{
  text-decoration: none;
}

.card {
  padding: 20px;
}

/* contact me section styling*/

.skills {
  display: flex;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
  "Lucida Sans", Arial, sans-serif;
  justify-content: space-around;
}

.list {
  padding-bottom: 15px;
}

ul {
  list-style-type: none;
}

.resume {
  display: flex;
  background-color: cadetblue;
  padding: 5px;
  border-radius: 10px;
 margin-top: 20px;
}
.contact-me {
  flex-direction: column;
  display: flex;
  text-align: left;
  margin: auto;
  width: 600px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}
.contact li {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
}
/* contact me section styling end */

/*Hero Style Start*/

.hero {
  background-image: url("../public/images/code.jpg");
  opacity: 0.5;
  height: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  background-size: cover;
}

/* Hero Style End */
.footer {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  header nav ul li a {
    font-size: 20 px;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  h2 {
    text-align: center;
  }

  .contact-me h2 {
    text-align: center;
  }

  /* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  }
}
