:root {
  --primary-color: lightgray;
  --secondary-color: rgb(30, 36, 43);
  --tertiary-color: rgb(58, 63, 68);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
}

/*header syling*/

header {
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-image: url("../public/images/wood.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  z-index: 9999;
}
a {
  color: var(--secondary-color);
}

header h1 a {
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
  margin: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

header nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  color: var(--secondary-color);
}
header li {
  margin: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 28px;
}

header nav ul {
  padding: 10px 20px;
}

header h1 a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  text-shadow: none;
}

header ul li a:hover {
  background: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 5px;
  text-shadow: none;
}

h2 {
  text-align: right;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 40px;
}

/*header syling end*/

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  padding: 20px;
  border-right: 6px black;
}

.section-title {
  flex: 1;
  padding: 10px;
  color: var(--tertiary-color);
  margin: 10px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

.victor {
  display: flex;
  flex-wrap: wrap;
  flex: 3;
  padding: 10px;
  margin: 10px;
  justify-content: center;
}

/* about me section styling*/

.about-me {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}
.profile {
  flex: 1;
  display: flex;
  height: 300px;
  flex-wrap: wrap;
}
.profile-pic {
  height: 300px;
  border: 4px solid var(--tertiary-color);
}
.text {
  display: flex;
  flex: 3;
  text-align: justify;
  padding: 20px;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}
/* about me section styling end*/

/* work examples styling*/

.work {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-around;
}

.tacolocator {
  flex: 4;
  display: inline-block;
  border: 4px solid var(--tertiary-color);
  padding: 10px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  background-color: lightslategray;
  padding: 10px;
  margin: 10px;
}

.tacolocator p {
  color: var(--primary-color);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
}
.taco {
  width: 100%;
  padding: 10px;
}
.trainer {
  width: 100%;
}

.examples {
  flex: 3;
  margin-left: 10px;
}

.samples {
  flex: 2;
  display: flex;
  padding: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
}

.sample {
  flex: 1.5;
  display: inline-block;
  border: 4px solid var(--tertiary-color);
  margin: 10px 10px;
  padding: 10px;
  opacity: 1;
  text-align: center;
  justify-content: center;
  background-color: lightslategray;
}

.sample p,
h3 {
  color: var(--primary-color);
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.language {
  text-align: bottom;
}
.sample:hover,
.tacolocator:hover {
  opacity: 0.5;
}

.horiseon {
  width: 100%;
}

.bootcamp {
  width: 100%;
}

.github {
  width: 100%;
}

.trilogy {
  text-align: center;
  width: 100%;
}
/* work examples styling end */

/* contact me section styling*/

.contact-me {
  flex-direction: row;
  display: flex;
  justify-content: center;
  justify-content: space-around;
  padding: 10px;
}

.contact {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  justify-content: space-evenly;
}
.contact li {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-left: 20px;
}
/* contact me section styling end */

/*Hero Style Start*/

.hero {
  background-image: url("../public/images/wood.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5));
  height: 20%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  background-attachment: fixed;
  background-position: 80%;
  background-size: cover;
}

/* Hero Style End */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }
  header h1 {
    width: 100%;
    text-align: center;
  }
  header nav ul {
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
  header nav ul li a {
    font-size: 20 px;
  }

  footer h2,
  footer div {
    text-align: center;
    width: 100%;
  }

  .section-title {
    width: 80%;
  }
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
  h2 {
    text-align: center;
  }

  .contact-me h2 {
    text-align: center;
  }

  /* MEDIA QUERIES FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
  }
}
